<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>The world of Star Wars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
        <script type="text/javascript" src="/static/ui.js" defer></script>
        <script type="text/javascript" src="/static/index.js" defer></script>
    </head>
    <body>
        <header>
        </header>
        <section class="container">
            <h1>Star Wars universe planets</h1>
            <div id="button-wrapper"></div>
            <div id="table-wrapper"></div>
        </section>
    </body>
</html>